* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #047857;
  padding: 10px 50px;
  .running-text {
    font-family: "Arial";
    font-weight: think;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    animation: running 10s linear infinite;
  }

  @keyframes running {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-family: "Arial";
  background-color: #f8fafc;
  figure.img {
  }
  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      li a {
        text-decoration: none;
        margin-right: 20px;
      }
    }
    button {
      background-color: #10b981;
      color: #fff;
      border: 0px;
      padding: 10px 15px;
      border-radius: 4px;
    }
  }
}

main {
}

footer {
}
